#sz-ga-top-pages-widget .widgettitle {
	margin-bottom: 10px;
}

#sz-ga-top-pages-widget li {
	list-style-position: outside;
}

#sz-ga-top-pages-widget div.sz-credits {
	text-align: center;
	font-size: 8px;
	font-family: arial;
	margin-top: 10px;
}